@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@400;700&display=swap');

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #00f2ff;
  font-family: var(--font-mono);
}

h1, h2, h3 {
  font-family: var(--font-display);
}
